.ant-carousel .slick-slide {
    text-align: center;
    // height: 100;
    // line-height: 100;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }

  .my-carousel{
    img{
      width: 100%;
      height: 250px;
      text-align: center;
    }
  }