.content-news{
    background-color: #ffffff
}
.my-menu{

    .menu-news{
        background-color: #ffffff;
        
    }

    .new-blogs{
        background-color: #ffffff;
        margin-top: 20px;
    }
}