.content-profile{
    // background-color: #ffffff;

    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.info-profile{
    .avatar-user{
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h2{
        text-align: left;
        margin-top: 20px;
    }
}