.footer-app{
    // position: fixed;
    z-index : 1;
    width: 100%;
}

.logo-footer{
    width: 100%;
    // float: left;
    .img-responsive-footer{
        
    }
    .text-logo-footer{
        font-weight: bolder;
        // float: left;
        // margin-left: 10px;
        // text-align: center;
    }
}
.decription-footer{
    text-align: left;
}
